NODE_ENV=development
API_VERSION=v1
PORT=
CORS_ORIGIN=your_cors_origin_here

# Database configuration (supabase)
SUPABASE_URL=https://your_supabase_url_here.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here
SUPABASE_SECRET_KEY=your_supabase_secret_key_here
DATABASE_URL=your_database_url_here

# JWT configuration
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
JWT_ACCESS_TOKEN_EXPIRATION=access_token_expiration_time_here
JWT_REFRESH_TOKEN_EXPIRATION=refresh_token_expiration_time_here

# Supabase Storage
SUPABASE_STORAGE_BUCKET_RESUMES=storage-bucket-name-here
SUPABASE_STORAGE_BUCKET_LOGOS=storage-bucket-name-here
SUPABASE_STORAGE_BUCKET_PHOTOS=storage-bucket-name-here

# Rate limiting configuration
RATE_LIMIT_WINDOW_MS= rate-limit-window-ms
RATE_LIMIT_MAX= rate-limit-max

# Logging configuration
LOG_LEVEL=debug